[run]
source = expWorkbench, analysis

[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    */test/*
    */examples/*
    *__init__*
    */pool/* # taken from python 2.6 code so why add test code

# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__