[run]
source = 
    ema_workbench/em_framework/*
    ema_workbench/analysis/*
    ema_workbench/util/*

[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    */test/*
    */examples/*

# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__