altair
ipykernel
ipython
ipyparallel
jupyter
matplotlib
nbsphinx
numpy
myst-parser
pysd
pyscaffold==2.5.7
pyzmq
pandas>=0.24.*
platypus-opt
salib
scikit-learn
scipy
sphinx
seaborn
statsmodels
traitlets
tqdm