# Docs requirements
sphinx>=6
sphinx_rtd_theme>=1.2
readthedocs-sphinx-search>=0.3
nbsphinx
myst
pyscaffold
myst-parser
ipyparallel

# General requirements
numpy
pandas
scikit-learn
salib>=1.4.6
platypus-opt
matplotlib
statsmodels
seaborn
tqdm
